body {
  background-color: rgb(220, 214, 214);
  font-family: Arial;
}

.tituloPrincipal {
  font-size: 50px;
  color: rgb(22, 29, 233);
  text-shadow: 2px 2px 3px black;
  text-align: center;
}

footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.427);
  text-align: center;
  border-radius: 20px;
}

.linkFooter {
  color: gold;
  text-decoration: none;
}

.textBack {
  text-decoration: none;
  color: black;
  font-family: arial;
  font-size: 15px;
}

#calculadora {
  place-content: center;
  text-align: center;
  background-color: rgb(180, 177, 177);
  border-radius: 30px;
}

#botaoBack {
  border-radius: 5px;
  margin: 10px;
}

#botaoSoma,
#botaoSubtracao,
#botaoMultiplicacao,
#botaoDivisao {
  font-size: 20px;
  text-align: center;
  margin: 3px;
  border-radius: 5px;
}
