body {
  background-color: rgb(220, 214, 214);
  font-family: Arial;
}

.tituloPrincipal {
  font-size: 50px;
  color: rgb(22, 29, 233);
  text-shadow: 2px 2px 3px black;
  text-align: center;
}

main{
  text-align: center;
  background-color: rgb(180, 177, 177);
  border-radius: 30px;
  padding: 10px;
}

.tituloTarefa{
  color: rgba(255, 217, 0, 0.899);
  text-shadow: 1px 1px 3px black;
}
footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.427);
  text-align: center;
  border-radius: 20px;
}

.linkFooter{
  color: gold;
  text-decoration: none;
}

.botaoBack{
  text-decoration: none;
  color: black;
  font-family: arial;
  font-size: 15px;
}

button{
  border-radius: 10px;
}