body {
  background-color: rgb(220, 214, 214);
  font-family: Arial;
}

main {
  text-align: center;
  background-color: rgb(180, 177, 177);
  border-radius: 30px;
  padding: 10px;
}

.tituloPrincipal {
  font-size: 50px;
  color: purple;
  text-shadow: 2px 2px 3px black;
  text-align: center;
}

footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.427);
  text-align: center;
  border-radius: 20px;
}

.linkFooter {
  color: gold;
  text-decoration: none;
}

.textBack {
  text-decoration: none;
  color: purple;
  font-family: arial;
  font-size: 15px;
}

#botaoBack {
  border-radius: 10px;
}

#botaoCalc {
  border-radius: 10px;
  font-size: 20px;
  color: purple;
  font-family: arial;
}
